__pycache__/
.idea/
/guide/dnn_model/
/iris.csv
/streamlitty_1.py
/testing_model_building.py
/testing_as_notebook.ipynb
#/data/quick_split/
/data/final_split/data.csv
/models/m*
/train_test/X*.*
/train_test/y*.*
/data/df_listings.csv
/data/quick_split/data.csv
/data/source/
old/
old/*
*_old/
*_old/*
offline/
.ipynb_checkpoints/